/* Styles */

h2.intro {
  text-align: center;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold;
  color: #333;
}

p.intro {
  font-family: arial, helvetica, sans-serif;
  color: #444
}

img.intro {
  width: 40%;
  margin: 5px 30%;
}
